%btn {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 20px 40px;
  border-radius: 10px;
  border: 3px solid $white;
  overflow: hidden;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: $black;
  background: $white;
  cursor: pointer;
  > span {
    position: relative;
    z-index: 2;
    color: inherit;
    transition: $transition-time;
  }
  .icon {
    font-size: 20px;
  }
  &::after {
    content: "";
    position: absolute;
    background: $black;
    background-blend-mode: multiply;
    width: 200%;
    height: 200%;
    top: 0;
    left: -50%;
    transition: $transition-time;
    transform: rotateZ(-30deg) translateY(200%);
    will-change: transform;
  }
  &:hover,
  &:focus {
    color: $yellow;
    &::after {
      transform: rotateZ(0) translateY(0);
    }
  }
}

// %visually-hidden {
//   position: absolute;
//   overflow: hidden;
//   clip: rect(0 0 0 0);
//   height: 1px;
//   width: 1px;
//   margin: -1px;
//   padding: 0;
//   border: 0;
// }
