%btn {
  display: inline-block;
  text-align: center;
  padding: 20px 40px 18px;
  border-radius: 5px;
  border: 1px solid rgba(#555, 0.3);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: rgba(#555, 0.6);
  cursor: pointer;
  transition: $transition-time;
  &:hover,
  &:focus {
    color: rgba(#555, 1) !important;
    border: 1px solid rgba(#555, 1);
  }
}

%visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
