a,
a:visited {
  color: inherit;
  &:hover {
    color: $aqua;
  }
}

.custom-radiobutton-wrapper {
  text-align: center;
  border: 1px solid rgba($darkBlue, 0.3);
  border-radius: 5px;
  transition: $transition-time;
  &:hover{
    border: 1px solid rgba($darkBlue, 1);
  }
}
input[type="radio"] {
  @extend %visually-hidden;
}
input:focus + .label-clickable {
  outline: 4px auto #5e9ed6;
}
input:checked + .label-clickable {
  border: 5px solid $blue;
  &:after {
    content: "\2714";
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background: $blue;
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 9px;
    border-radius: 50%;
  }
}
.label-clickable {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: rgba($gray, 0.5);
  padding: 30px 0;
  border: 5px solid transparent; // a hack to prevent box from moving on first selection
  border-radius: 5px;
  cursor: pointer;
  transition: $transition-time;
  > span {
    display: block;
    margin-top: 12px;
    font-size: 16px;
    letter-spacing: 0.05em;
  }
}

// Custom table

.custom-table {
  border: 1px solid rgba($darkBlue, 0.3);
  width: 100%;
  margin: 40px 0 0;
  // outer padding
  th {
    padding-top: 30px !important;
  }
  th:first-child,
  tr td:first-child {
    padding-left: 45px;
  }
  th:last-child,
  tr td:last-child {
    padding-right: 25px;
  }
  tr:last-child td {
    padding-bottom: 35px;
  }

  th {
    text-transform: uppercase;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
  }
  th,
  td {
    padding: 7px 10px;
    opacity: 0.6;
  }
}

.custom-select {
  position: relative;
  z-index: 2;
  pointer-events: none;
  display: inline-flex;
  margin-bottom: 40px;
  margin-right: 20px;
  select {
    -webkit-appearance: none;
    pointer-events: all;
    display: inline-block;
    padding: 18px 100px 16px 50px;
    border-radius: 5px;
    border: 1px solid rgba($darkBlue, 0.3);
    font-weight: 400;
    font-size: 14px;
    background: $gray2;
    color: rgba($darkBlue, 0.6);
    cursor: pointer;
    transition: $transition-time;
  }
  &:after {
    content: "\25BC";
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background: $gray2;
    border: 1px solid rgba($darkBlue, 0.3);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 20px;
    font-size: 12px;
    transition: $transition-time;
  }
  &:hover {
    select{
      color: rgba($darkBlue, 1);
      border: 1px solid rgba($darkBlue, 1);
    }
    &:after{
      color: rgba($darkBlue, 1);
      border: 1px solid rgba($darkBlue, 1);
    }
  }
}

// Buttons
.btn--remove {
  border: none;
  background: transparent;
  color: $darkBlue;
  font-size: 20px;
  opacity: 0.6;
  cursor: pointer;
  transition: $transition-time;
  &:hover,
  &:focus {
    opacity: 1;
  }
}

.btn--add {
  @extend %btn;
  background: $gray2;
  padding: 18px 40px 16px;
  font-size: 12px;
  font-weight: 600;
  &:before{
    content: "+\ ";
    font-size: 14px;
  }
}

.btn--ghost {
  @extend %btn;
  background: transparent;
}

.btn--common {
  @extend %btn;
  background: $gray2;
  font-size: 11px;
  padding: 20px 20px 18px;
  min-width: 170px;
}

.btn--cta {
  @extend %btn;
  background: $aqua;
  color: #fff !important;
  font-size: 11px;
  padding: 20px 20px 18px;
  min-width: 170px;
  &:hover,
  &:focus {
    background: $aquaDark;
    color: #fff !important;
  }
}

.range-slider {
  -webkit-appearance: none;
  width: 400px;
  position: relative;
  &::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    z-index: 1;
    background: $orange;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -5px;
    cursor: pointer;
  }
  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: $gray2;
    height: 10px;
    border-radius: 5px;
  }
  &:after,
  &:before {
    content: "";
    position: absolute;
    display: block;
    background: $gray;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  &:after {
    right: 0;
  }
}

// Titles

.section-title {
  position: relative;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.05em;
  .icon-offset {
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
    font-size: 20px;
  }
}

.main-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.18em;
  span {
    border-bottom: 1px solid rgba($darkBlue, 0.3);
    padding-bottom: 10px;
  }
}

.fieldset-title {
  font-size: 24px;
  font-weight: 400;
  margin: 105px 0 60px;
  .fieldset-title--additional {
    font-size: 0.55em;
    font-weight: 300;
    opacity: 0.6;
  }
}