html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $gray;
  font-family: $mainFont;
  color: $darkBlue;
  text-decoration-skip: ink;
  counter-reset: numbered-section-counter;
}

.page-wrapper {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  width: 100%;
  margin: 65px 0;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  opacity: 0.1;
  height: auto;
  transition: $transition-time;
  > img {
    width: 100px;
  }
  &:hover,
  &:focus {
    opacity: 0.2;
  }
}

main {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  border: 1px solid rgba($darkBlue, 0.3);
}

.header-section {
  display: flex;
  border-bottom: 2px solid rgba($darkBlue, 0.15);
}

.order-summary {
  display: flex;
  padding: 25px 37px 25px 75px;
  width: percentage(790/1140);
  border-right: 2px solid rgba($darkBlue, 0.15);
  .left {
    flex-grow: 100;
    padding: 8px 0;
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      li {
        margin-top: 35px;
      }
      h3 {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.05em;
        margin-bottom: 10px;
      }
      span {
        font-size: 13px;
        opacity: 0.6;
        white-space: normal;
      }
    }
  }
  .right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 250px;
    > *:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.contact {
  width: percentage(350/1140);
  padding: 25px 25px 25px 70px;
  address {
    font-style: normal;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.4;
  }
  h2 {
    font-size: 12px;
  }
  p {
    opacity: 0.6;
    margin: 10px 0 15px;
  }
  a {
    text-decoration: none;
    font-weight: 400;
    color: inherit;
    &:not(:last-of-type) {
      margin-right: 10px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.form-wrapper {
  max-width: 900px;
  margin: 0 109px 0 129px;
}

.mediatype-section {
  text-align: center;
  margin: 105px 0;
  .flex-wrapper {
    display: flex;
    justify-content: space-between;
  }
  fieldset {
    margin-top: 90px;
  }
  .custom-radiobutton-wrapper {
    width: 280px;
  }
  .label-clickable {
    img {
      width: 94px;
    }
    p {
      font-size: 16px;
      letter-spacing: 0.05em;
      margin-top: 18px;
    }
  }
}

.numbered-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
}

.numbered-section {
  counter-increment: numbered-section-counter;
  .fieldset-title {
    position: relative;
    &:before,
    &:after {
      position: absolute;
      left: -50px;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &:before {
      content: counter(numbered-section-counter);
      font-size: 18px;
      font-weight: 600;
    }
    &:after {
      content: '';
      width: 40px;
      height: 40px;
      border: 1px solid $darkBlue;
      border-radius: 50%;
    }
  }
}

.mediaupload-section {
  width: 100%;
  .fieldset-title {
    margin-top: 0;
  }
  input[type="file"] {
    @extend %visually-hidden;
  }
  .upload-button {
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 400;
    text-transform: initial;
    padding: 18px 40px 16px;
    i {
      padding-right: 5px;
    }
  }
  input[type="file"]:focus + .upload-button {
    outline: 4px auto #5e9ed6;
  }
  table tr td:first-child i {
    padding-right: 15px;
  }
  table th:last-child,
  table tr td:last-child {
    text-align: center;
  }
}

.language-pairing-section {
  width: 100%;
  > fieldset {
    position: relative;
    margin-left: 52px;
    legend {
      position: absolute;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.05em;
      top: 20px;
      right: calc(100% + 15px);
      opacity: 0.6;
    }
  }
  .select-button-group {
    display: inline-block;
    margin-right: 20px;
    .custom-select {
      margin-right: 0;
    }
  }
}

.tone-section,
.urgency-section {
  .fieldset-title {
    margin-top: 60px;
  }
}

.tone-section {
  width: percentage(400/900);
  margin-right: 15px;
  > fieldset {
    margin-top: -10px;
  }
  .custom-radiobutton-wrapper {
    width: 235px;
    margin-bottom: 20px;
    .label-clickable {
      display: block;
      padding: 20px 20px 20px 35px;
      text-align: left;
      i {
        padding-right: 18px;
      }
    }
  }
}

.urgency-section {
  width: percentage(485/900);
  .fieldset-title {
    margin-left: 70px;
  }
  .range-slider {
    margin: 20px 40px 15px;
  }
  .caption-container {
    width: calc(400px + 80px);
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: rgba($darkBlue, 0.6);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    .active {
      color: $orange;
    }
  }

  aside {
    margin-top: 60px;
    border: 1px solid rgba($darkBlue, 0.3);
    padding: 25px 30px 25px 70px;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 300;
    color: rgba($darkBlue, 0.6);
    h3 {
      position: relative;
      text-transform: uppercase;
      margin-bottom: 20px;
      font-weight: 600;
      color: $darkBlue;
      letter-spacing: 0.05em;
      i {
        position: absolute;
        left: -35px;
        bottom: 0;
        font-size: 22px;
      }
    }
    mark {
      text-transform: uppercase;
      color: $orange;
      background: transparent;
      font-style: normal;
      font-weight: 600;
    }
  }
}

.payment-section {
  width: 100%;
  .fieldset-title {
    margin-top: 75px;
  }
  p {
    color: rgba($darkBlue, 0.6);
    margin-bottom: 50px;
  }
  .input-row {
    display: flex;
    margin: 30px 0;
  }
  .label-input-group {
    position: relative;
    margin-right: 30px;
    label {
      padding-left: 10px;
    }
  }
  label:not(.label-clickable) {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: 600;
    color: rgba($darkBlue, 0.6);
    display: block;
    margin-bottom: 10px;
  }
  input:not([type="checkbox"]) {
    -webkit-appearance: none;
    border: 2px solid rgba($darkBlue, 0.3);
    border-radius: 5px;
    font-size: 13px;
    letter-spacing: 0.05em;
    padding: 16px;
    color: inherit;
    background-position: calc(100% - 10px);
    background-repeat: no-repeat;
    max-height: 52px;
  }
  input:valid {
    background-image: url("../img/mark-valid.png");
  }
  input:invalid {
    background-image: url("../img/mark-invalid.png");
  }
  input::-webkit-input-placeholder {
    color: rgba($darkBlue, 0.3);
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 300px;
  }
  input[type="password"] {
    font-size: 22px;
    letter-spacing: 0.25em;
  }
  #card-number {
    width: 380px;
    background-image: url("../img/mark-visa.png");
  }
  #expiry-date {
    width: 170px;
    text-transform: uppercase;
    text-align: center;
  }
  #code {
    width: 100px;
  }
  .payment-method-container {
    display: flex;
    justify-content: flex-start;
    margin: 35px 0 50px;
    > *:not(:last-child) {
      margin-right: 30px;
    }
  }
  .custom-radiobutton-wrapper {
    width: 220px;
  }
  .label-clickable {
    height: 100%;
  }
  .terms-and-conditions-wrapper {
    text-align: right;
    margin-top: 105px;
    margin-bottom: 75px;
    label[for="terms-and-conditions"] {
      display: inline;
      text-transform: initial;
      color: $darkBlue;
      letter-spacing: initial;
      font-weight: 400;
    }
    > *:not(:last-child):not([type="checkbox"]) {
      margin-right: 30px;
    }
  }
}

footer {
  margin-top: 125px;
  padding: 100px 0;
  width: 100%;
  background: #444a62;
  color: $lightBlue;
  section {
    width: 25%;
  }
  .page-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .section-title {
    position: relative;
    margin-bottom: 15px;
    i {
      position: absolute;
      left: -40px;
      top: -5px;
      font-size: 22px;
    }
  }
  .info {
    padding-left: 40px;
    max-width: 250px;
    p {
      font-size: 12px;
      line-height: 1.4;
      font-weight: 300;
    }
  }
  .address-section {
    padding-left: 80px;
  }
  address {
    font-size: 12px;
    font-style: normal;
    line-height: 2;
    font-weight: 300;
    a {
      text-decoration: none;
    }
  }
  .social-media {
    padding-left: 60px;
    li {
      font-size: 12px;
      font-weight: 300;
      line-height: 2;
    }
    i {
      padding-right: 15px;
    }
    a {
      text-decoration: none;
    }
  }
  .logo {
    width: auto;
  }
}
