html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $mainFont;
  text-decoration-skip: ink;
}

.page-wrapper {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}